html
	head
		title Recuerdos de Santiago
		// meta things
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// styles
		link(rel='stylesheet', href='css/home.css')
		// that awkward moment when NESCAFE is awful
		// Didn't write this one
		script(src='lib/jquery.js')
		// Or this one		
		script(src='lib/d3.min.js')
		// I did write this one!		
		script(src='js/home.js')
		
	body(style='background-image: url(img/lamoneda_blurred.png)')
		h2 Los Recuerdos de Santiago
		div(id='memories')
