html
	head
		title Santiago Memoria
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='css/submit.css')
		script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
		script(src='js/submit.js')
	head

	body
		form(id='submitform', method='post', action='/submit')
			input(type='text', name='lugar', placeholder='Lugar')
			br
			textarea(name='memoria', placeholder='Memoria')
			br
			input(type='submit', value='Enviar')
