body {
	text-align: center;
	font-family: 'Trebuchet MS';
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

@media (orientation: portrait) {
	body {
		background-size: auto 100%;
	}
}

@media (orientation: landscape) {
	body {
		background-size: 100%;
	}
}

.memory {
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: rgba(255, 0, 0, .4);
	margin-bottom: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}
